<h1>Log In</h1>

<div style="color:green"><%= flash[:notice] %></div>
<div style="color:red"><%= flash[:error] %></div>
<% form_tag session_path do -%>
<p><b><%= label_tag 'login' %></b><br />
<font size="-1">(ハンドルネーム)</font><br />
<%= text_field_tag 'login', @login %></p>

<p><b><%= label_tag 'password' %></b><br/>
<font size="-1">(パスワード)</font><br />
<%= password_field_tag 'password', nil %></p>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p><%= submit_tag 'Log in' %></p>
<% end -%>
