<h1>Editing player</h1>
<% @player.password = @player.password_confirmation = nil %>

<%= error_messages_for :player %>
<% form_for(@player) do |f| %>

<p><b><%= Player.human_attribute_name("login") %></b></p>
<p><%= h(@player.login) %></p>

<p><b><%= Player.human_attribute_name("name") %></b></p>
<%= f.text_field :name %></p>

<p><b><%= Player.human_attribute_name("country") %></b></p>
<%= f.collection_select :country_id, Country.find(:all), :id, :name %>

<p><b><%= Player.human_attribute_name("email") %></b></p>
<%= h(@player.email) %></p>

<p><b><%= Player.human_attribute_name("password") %></b></p>
<%= f.password_field :password %></p>

<p><b><%= Player.human_attribute_name("password_confirmation") %></b></p>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Update' %></p>
更新</p>
<% end -%>
