<h1 style="font-family:Palatino Linotype;"><u>Edit Form</u></h1>
(Fill in only the fields you need to change.)
<% @player.password = @player.password_confirmation = nil %>

<%= error_messages_for :player %>
<% form_for(@player) do |f| %>

<br>
<p><b><font size="+1"><%= h(@player.name) %></font></b></p>

<table border="1" cellspacing="0" cellpadding="5" align="center">
<tr>
<td><b><%= Player.human_attribute_name("country") %></b><td><%= f.collection_select :country_id, Country.find(:all), :id, :name %>
<tr>
<td><b>Location</b><td align="left">
<%= f.text_field :city_lat, :size => 10 %> <b>Latitude</b><br>
<%= f.text_field :city_lon, :size => 10 %> <b>Longitude</b><br>
<%= f.text_field :city_name, :size => 16 %> <b>Name</b>
<tr>
<td><b>Self Introduction</b><td><%= f.text_area :pr, :cols => 32, :rows => 8 %>
<tr>
<td><b><%= Player.human_attribute_name("email") %></b><td><%= h(@player.email) %></p>
<tr>
<td><b>Change Password</b><td>
<b><%= Player.human_attribute_name("password") %></b><br>
<%= f.password_field :password %><br>
<b><%= Player.human_attribute_name("password_confirmation") %></b><br>
<%= f.password_field :password_confirmation %>
</table>

<p><%= submit_tag 'Update' %></p>
<% end -%>
