<h1 style="font-family:Palatino Linotype;"><u>Sign up as a new user!</u></h1>
<h3>新規登録(無料で今すぐ対局可能)</h3>
<br><br>
<% @player.password = @player.password_confirmation = nil %>

<%= error_messages_for :player %>
<% form_for :player, :url => players_path do |f| -%>
<table border="1" cellspacing="0" cellpadding="5" align="center">
<tr>
<td><b>81Dojo Nickname</b><br><font size="-1">(ハンドルネーム)</font><td><%= f.text_field :login %>
<tr>
<td><b>Your Name</b><br><font size="-1">(お名前 ※表示されません)</font><td><%= f.text_field :name %>
<tr>
<td><b><%= label_tag 'country' %></b><br><font size="-1">(国名 ※日本はJapanを)</font><td><%= f.collection_select :country_id, Country.find(:all), :id, :name %>
<tr>
<td><b><%= label_tag 'email' %></b><br><font size="-1">(メールアドレス)</font><td><%= f.text_field :email %>
<tr>
<td><b><%= label_tag 'password' %></b><br><font size="-1">(パスワード)</font><td><%= f.password_field :password %>
<tr>
<td><b><%= label_tag 'password_confirmation' %></b><br><font size="-1">(パスワード再入力)</font><td><%= f.password_field :password_confirmation %>
</table>

<p><%= submit_tag 'Sign up' %><br><font size="-1">(送信)</font></p>
<% end -%>
