<h2>Hello, <%= @player.login %>. </h2><br/>
<div style="color:green"><%= flash[:notice] %></div>
<div class="container">
<table>
  <tr><th>Login</th><td><%= @player.login %><td></tr>
  <tr><th>Country</th><td><%= @player.country.name %></td></tr>
  <tr><th>Rating</th><td><%= @player.rate %></td></tr>
</table>
</div>
<%= link_to 'back','/' %>
