<p>
  <b>Blackid:</b>
  <%=h @kifu.blackid %>
</p>

<p>
  <b>Whiteid:</b>
  <%=h @kifu.whiteid %>
</p>

<p>
  <b>Contents:</b>
  <%=h @kifu.contents %>
</p>


<%= link_to 'Edit', edit_kifu_path(@kifu) %> |
<%= link_to 'Back', kifus_path %>